.certificates, .experience {
    margin-left: -200px;
    width: 485px;
    margin-bottom: 50px;
}

.certificates h2, .experience h2 {
    color: #fb6d3a;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.certificates ul, .experience ul {
    padding-left: 20px;
}

.certificates li, .experience li {
    margin-bottom: 8px;
}

.list-secondary-item {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
}
